.book-series {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  min-width: 15vw;
  min-height: calc(100vh - 110px);
}

.book-series-item {
  font-weight: bolder;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid lightgrey;
  min-height: 50px;
}

.book-series-item span:hover {
  color: darkblue;
}

/* show a dropdown if the screen is too small */
.book-dropdown {
  display: none;
  padding-top: 5px;
  width: 100vw;
}
.book-dropdown > select {
  width: 50vh;
  height: 10vw;
  font-size: 25px;
}
.book-dropdown > select > option {
  font-size: 15px;
}

/* handle stuff for  */
@media screen and (orientation: portrait) {
  .book-series {
    display: none;
  }

  .book-dropdown {
    display: block;
  }
}

@media screen and (orientation: landscape) and (max-width: 1250px) {
  .book-series {
    display: none;
  }

  .book-dropdown {
    display: block;
  }
}

@media screen and (orientation: landscape) and (min-width: 1250px) {
  .book-series {
    display: block;
  }

  .book-dropdown {
    display: none;
  }
}
