.book-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.book-item {
  /*height: 300px;*/
  max-width: 32vw;
  margin-bottom: 1vh;

  /* black low opacity */
  border: 1px solid #0000004d;

  /* put text at the end */
  display: flex;
  flex-direction: column;
}

.book-item img {
  max-width: 32vw;
}

.book-description {
  border-top: 1px solid black;
}

.book-text-container{
  font-weight: bolder;
  cursor: pointer;
}
.book-text-container span:hover {
  color: darkblue;
}

.book-series {
  border: 1px solid green;
}
.book-series-item {
  font-weight: bolder;
  cursor: pointer;
}
.book-series-item span:hover {
  color: darkblue;
}
